@charset "UTF-8";

html, body {
	width: 100%;
	min-width: 1130px;
	min-height: 630px;
	height: 100%;
}

.wrap {
	width: 100%;
	height: 100%;
	display: flex;
}

.left_wrap {
	width: 50%;
	background-color: rgb(97, 191, 173);
}

.logo {
	width: 100%;
	height: 10%;
	z-index: 100;
}



.logo>a>img {
	width: 150px;
	margin: 25px 10px 10px 10px;
	display: block;
	position: absolute;
}

.left_wrap * {
	
}

/*현재 대기중인 팀*/
.wait_team_wrap {
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wait_team {
	border: black red;
	width: 350px;
	height: 350px;
}

.wait_team_num_wrap {
	width: 100%;
	height: 300px;
	margin-top: 5px;
	background-color: rgb(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	font-size: 25px;
	padding-top: 40px;
	border-radius: 3px;
	margin-bottom: 10px;
}

/*현재 태기팀*/
.team_num {
	font-size: 150px;
	line-height: 150px;
	font-weight: 800;
	margin-top: 25px;
}

/*예상 대기시간*/
.wait_time_wrap {
	display: flex;
	height: 20%;
	background-color: rgb(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
}

.wait_time_wrap>span {
	color: white;
	font-size: 60px;
	margin: 0 15px;
}

#wait_time {
	font-size: 70px;
	margin-bottom: 5px;
	margin-right: 5px;
	font-weight: 800;
	color: rgb(249, 247, 232);
}

.right_wrap {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*핸드폰 번호랑 인원수 입력하는 wrap*/
.input_wrap {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.input_ph {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60%;
}

/*핸드폰 번호를 입력하세요*/
.ph_text {
	font-size: 20px;
	transform: translate(-45%);
	margin: 20px 0 10px 0;
	color: grey;
}

.phone_wrap {
	height: 80px;
	display: flex;
	justify-content: center;
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
}

/*폰넘버 010-0000-0000*/
.phone_wrap {
	width: 600px;
	color: lightgray;
}

.phone_wrap>span {
	margin: 0 1px 0 1px;
}

/*인원수 wrap*/
.input_wait {
	height: 40%;
	display: flex;
	font-size: 35px;
	justify-content: center;
	margin-top: 10px;
}

.input_wait>* {
	height: 50px;
	font-weight: 800;
}

.input_wait>span {
	font-size: 50px;
	line-height: 42px;
	margin: 8px 4px 0px 4px;
	color: lightgray;
}

.keyboard_wrap {
	height: 1000px;
	background-color: RGB(248, 249, 250);
}

.keypad {
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 45px;
}

tr, th {
	border: solid thin RGB(226, 231, 235);
}

tr {
	height: 25%;
}

th {
	width: 33.3%
}

#okay {
    width:15%;
    background-color:rgb(97,191,173);
    color:white;
    
    font-weight: 600;
}