@charset "UTF-8";

html, body {
   width: 100%;
   min-width: 1130px;
}

/* div {
        border: solid thin;
    } */

/* header (네비게이션영역)-------------------------------------------------------- */
#header {
   width: 100%;
   height: 80px;
   background-color: #aaa;
}

/*로고*/
.logo {
   width: 155px;
}

/*네비게이션 wrap*/
.navbar-nav {
   -ms-flex-direction: row;
   flex-direction: row;
   justify-content: space-around;
   min-width: 390px;
}

/*메뉴*/
.navbar {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   font-size: 25px;
   font-weight: bold;
   padding-top: 0;
}

.menugroup {
   width: 43%;
}

/* 메뉴글씨 */
.navbar-dark .navbar-nav .nav-link {
   color: #343a40;
   flex-shrink: 0;
}

.section-wrap {
   width: 1130px;
   display: block;
   margin: auto;
}

/* 메뉴아래 매출관리, 오늘 총 매출------------------------------------------------  */
#title_area {
   width: 100%;
   min-width: 550px;
   height: 100px;
}

.title {
   width: 1130px;
   height: 100px;
   display: flex;
   justify-content: center;
   flex-shrink: 0;
   line-height: 100px;
   position: absolute;
   font-size: 25px;
   color: #343a40;
   font-weight: bolder;
   padding: 10px 0px 0px 0px;
}

.setting {
   font-size: 45px;
   display: flex;
   justify-content: flex-end;
   padding: 40px 10px 10px 10px;
}

.setting>i {
   z-index: 100;
}

/* tab영역------------------------------------------------------- */
#tabzone {
   width: 100%;
   height: 40px;
   display: flex;
}

#tabzone>* {
   text-align: center;
   width: 150px;
   margin-left: 10px;
   font-weight: bold;
   border-radius: 5px;
}

.tab1 {
   color: #343a40;
   background-color: #f9f7e8;
   border-style: none;
}

/* tap, 조회 */
#search-tab {
   width: 100%;
   height: 150px;
   margin-bottom: 4vw;
}

/* tap, 조회 전체영역 */
.info-form {
   width: 100%;
   height: 100%;
}

/* tap */
.info-tab {
   width: 100%;
   height: 50px;
}

/* tap 버튼 */
.info-tab>button {
   width: 200px;
   height: 100%;
   background-color: rgb(249, 247, 232);
   color: black;
}

.info-tab>button:hover {
   background-color: rgb(255, 167, 167);
   color: white;
}

/* 조회 */
.info-input {
   width: 100%;
   height: 80px;
   overflow: hidden;
   background-color: rgb(249, 247, 232);
   display: flex;
   align-items: center;
   padding: 0 2vw 0 2vw;
   justify-content: flex-start;
}

/* input-wrap1,2,3 */
.input-wrap1 {
   width: 60%;
   display: flex;
   justify-content: space-between;
}

.input-wrap2 {
   width: 27%;
   display: flex;
   flex-shrink: 0;
   padding-left: 20px;
}

/* 휴대폰 번호 입력란, 카테고리란 */
#tel, #time {
   width: 170px;
   height: 30px;
   font-size: 11px;
}

#tel::placeholder {
   text-align: center;
}

/* 회원 선택 */
.select_member {
   width: 27%;
   margin-top: auto;
   align-items: center;
}

.name {
   display: flex;
   align-items: center;
   width: 75px;
}

/* 기간선택 */
.select_date>* {
   margin: 2px 0px 2px 0px;
}

.select_date {
   min-width: 180px;
   display: flex;
   margin-left: 20px;
}

.start, .end {
   width: 130px;
   height: 30px;
   font-size: 13px;
}

.date {
   display: flex;
   align-self: center;
   padding-right: 20px;
}


.time {
   display: flex;
}

/* 조회버튼 */
#btn-search {
   width: 100px;
   height: 40px;
   background-color: rgb(97, 191, 173);
   color: white;
   border: none;
   margin-left: 30px;
}

/* 라디오 버튼 wrap */
.radio {
   font-size: 20px;
}

.radio>* {
   margin: 0 10px 0 10px;
}

/* 기간선택 창------------------------------------------------------ */
#showterm {
   width: 100%;
   height: 80px;
   background-color: #f9f7e8;
   display: flex;
   align-items: center;
}

#showterm>* {
   
}

/* footer ----------------------------------------------------------*/
#footer {
   width: 100%;
   width: 100%;
   height: 30px;
   background-color: #61bfad;
}

/* 표  */
#content {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 65vh;
   margin-top: 9px;
}

.content-wrap {
   width: 100%;
   height: 100%;
   overflow: auto;
}

.table th {
   text-align: center;
}

.table td {
   text-align: center;
}

#btn-table {
   border-radius: 5%;
   height: 30px;
   line-height: 20px;
}

.btn-secondary.disabled, .btn-secondary:disabled {
   background-color: #ccc;
   border-color: #ccc;
}

.waiting_content{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height:50px;
   font-size: 13px;
   border-bottom: 1px solid #ddd;
}


#waiting_idx{
   display:flex;
   width:10%;
   justify-content: center;
}

#waiting_phone{
   display:flex;
   width:10%;
   justify-content: center;
}

#waiting_people{
   display:flex;
   width:10%;
   justify-content: center;
}

#waiting_time{
   display:flex;
   width:10%;
   justify-content: center;
}

.search_date{
font-weight: bold; 
color: black;
margin-left: 190px;
}
