@charset "UTF-8";

html, body {
	width: 100%;
	min-width: 1590px;
	height: 100%;
	min-height: 640px;
	display: flex;
	justify-content: center;
	min-height: 600px;
}

.wrap {
	width: 100%;
	min-width: 360px;
	height: 100%;
	min-height: 640px;
	display: flex;
	flex-direction: column;
}

/* header (네비게이션영역)-------------------------------------------------------- */
#header {
	width: 100%;
	height: 80px;
	background-color: #aaa;
}

/*로고*/
.logo {
	width: 155px;
}

/*네비게이션 wrap*/
.navbar-nav {
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	min-width: 390px;
}

/*메뉴*/
.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	font-weight: bold;
	padding-top: 0;
}

.menugroup {
	width: 43%;
}

/* 메뉴글씨 */
.navbar-dark .navbar-nav .nav-link {
	color: #343a40;
	flex-shrink: 0;
}

.section-wrap {
	width: 1130px;
	display: block;
	margin: auto;
}

.under_wrap {
	width: 100%;
	height: 100%;
	background-color: lightgray;
	display: flex;;
	justify-content: center;
}

.content {
	display: flex;
	justify-content: center;
}

.left_wrap {
	width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center_wrap {
	display: flex;
	width: 70%;
}

.card {
	width: 98%;
	height: 47%;
}

#reserve_header {
	background-color: RGB(255, 206, 103);
	color: black;
}

#waiting_header {
	background-color: RGB(243, 150, 154);
	color: black;
}

.table_wrap {
	width: 1200px;
	background-color: white;
	overflow: hidden;
	position: relative;
}

.btn_wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn_top {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.btn_bottom {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.btn {
	border-radius: 1px 6px 6px 1px;
	width: 135px;
	height: 60px;
	font-size: 20px;
	margin-top: 2px;
}

.card-body {
	overflow: scroll;
	width: 350px;
	display: flex;
	justify-content: center;
}

.card-body::-webkit-scrollbar {
	display: none;
}

.reserve, .waiting {
	width: 100%;
	height: 50px;
	background-color: rgba(255, 207, 103, 0.7);
	margin-bottom: 5px;
	display: flex;
	color: black;
	align-items: center;
}

.waiting {
	background-color: rgb(243, 150, 154, 0.7);
}

.time {
	width: 60px;
	margin-left: 10px;
}

.name {
	width: 130px;
	text-align: center;
}

.table_num {
	width: 60px;
	text-align: right;
}

.num {
	width: 50px;
	text-align: right;
	margin-right: 10px;
}

.drag {
	position: absolute;
	background-color: rgba(181, 227, 216, 0.7);
	width: 200px;
	height: 200px;
	border-radius: 5px;
	display: inline-block;
	border: solid 1px #ccc;
	padding: 10px;
}

.table_text {
	background-color: transparent;
	border: none;
}

.table_text:focus {
	outline: none;
}

.floor {
	padding: 0px;
	line-height: 60px;
}

.cat_delete_btn {
	display: none;
}