@charset "UTF-8";

body , html {

width:100%;
height:100%;
}

body {

background-color: rgb(97, 191, 173);


}


.wrap {

width:100%;
height:100%;
display:flex;
justify-content: center;
align-items: center;

}


/*가운데 폼 wrap*/
.wrap_test {
    width: 700px;
    height: 700px;
    border-radius: 10px;
    background-color: rgb(249, 247, 232);
    box-shadow: 10px 10px grey;
    display: flex;
    justify-content: center;
    position: relative;
}


img{
width: 400px;
position: absolute;
top: -15%;
z-index: 1;

}

label {
display: inline-block;
text-align: left;
width:120px;
line-height: 38px;

}

#join_text {

font-size:20px;
color:black;
font-weight: 800;

}

/*인풋 태그 있는 wrap*/

.info_test {
    position: relative;
    width: 650px;
    top: 90px;
    height: 520px;
}


.info_test>div{
margin-bottom: 15px;
display: flex;
}


.info_test input{
color:black;
width: 220px;
margin-right:5px;
}

.password_check {
margin: 0 10px 0 20px ;
width:50px;

}

#storeAddressBtn {
margin-left: 10px;
}


#storeAddress { 
width:250px;
}

.join{

display: block;
width: 500px;
height: 40px;
background-color: rgb(255, 139, 139);
color: white;
border: hidden;
border-radius: 10px;
margin-left:85px;
margin-top:15px;

}


l {
color:rgb(255, 139, 139);

}


.addr {

display: flex;

}

#auth_id_btn {

margin-left:10px;
background-color:rgb(97,191,173);
color: white;

}

.valid-msg{
	color:red;	
	font-size:10px;
}
