@charset "UTF-8";

html, body {
	width:100%;
}

/* 전체 감싸기 */
.wrap{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* 상단바 감싸기 */
.nav_wrap{
	display: flex;
	justify-content: center;
}

/* div,ul,li,a,span {
	border: solid thin;
} */

/*네비게이션영역 */
#header{
	width:100%;
    height:100px;
    background-color: #aaa;
    background-color: white;
    justify-content: center;
}

/*로고*/
.logo {
    width:200px;
}

/*상단바*/
.navbar{
	width:100%;
	height: 90px;
	display:flex;
	font-size: 25px;
	border-bottom: 1px solid;
}

/* 상단바 세부 그룹 */
.nav_group{
	margin-top: 3px;
	display: flex;
}

.nav_group > * {
	flex-shrink:0;
}

/* 구현해조 */
.user_name{
   margin-top: 28px;
   font-size: 20px;
   margin-left: 10px;
   display: flex;
   font-weight: bolder;
   color: black;
}

/* 안녕하세요 */
.hello{
   font-size: 13px;
   margin-top: 33px;
   font-weight: bolder;
}

/* 님 */
.nim{
   font-size: 13px;
   margin-top: 33px;
   margin-left: 10px;
   font-weight: bolder;
}

/* 메인으로 버튼 */
#main_button{
	border-radius: 15px;
	font-size: 12px;
	height: 30px;
	margin-top: 27px;
	margin-left: 20px;
}

/* 내정보 수정*/
.modify_my_info_text{
	font-size: 25px;
	font-weight:bold;
	text-align: center;
	margin-top: 25px;
}

/* 수정영역 감싸는 */
.wrap_modify{
	height: 350px;
    width: 493px;
    align-self: center;
    margin-top: 50px;
}

/* 입력공간 */
.info_text{

}


.info_text>div{
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.info_text>div label{
	text-align: left;
	font-size: 17px;
}

.info_text input{
	float: right;
	width: 250px;
	margin-left: 30px;
}

/* 내정보 수정 버튼*/
.modify_my_info{
	text-align: center;
	margin-top: 100px;
}

/* 내정보 수정 버튼 */
#modify_confirm_btn{
	width: 750px;
	height: 35px;
	font-size: 15px;
	margin-top: 70px;
}

#searchAddress{
	border-radius: 15px;
	font-size: 12px;
	height: 30px;
}

.ID{
	text-align: left;
}

.noneselect{
	outline:none;
	border: none;
}

.noneselect:focus{
	outline:none;
	border: none;
}