@charset "UTF-8";




html, body{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   margin: unset;
}

.now{
   color:white;
}

.wrap_all{
   width:100%;
   height:100%;
   display:flex;
   justify-content: center;
}
.wrap_board {
   width:1130px;
   height:80%;
}


.mobile_nav{
   width:100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-weight: bold;
   height: 50px;
   background-color: rgb(97, 191, 173);
}

.mobile_nav>label:hover{
   color: white;
}

.board_title{
   display: flex;
   width:100%;
   align-items: center;
   height: 50px;
   background-color: rgb(249, 247, 232);
}

.board_title>#board_test{
   width:80%;
   padding-left: 20px;
   font-weight: bold;
}

.back{
   width:10%;
   display:flex;
   justify-content: center;
   align-items: center;
   
}

.find{
   width:30%;
   display:flex;
   align-items: center;
   justify-content: space-around;
}

.board_list{
   height:auto;
   margin-bottom:15px;
}

.board_nav{
   display: flex;
   width:100%;
   align-items: center;
   justify-content: center;
   height:35px;
   font-size: 13px;
   font-weight: bold;
   border-bottom: 2px solid #ccc;
}

.board_content{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height:50px;
   font-size: 13px;
   border-bottom: 1px solid #ddd;
}

#idx{
   display:flex;
   width:10%;
   justify-content: center;
}

#title{
   display:flex;
   width:50%;
   justify-content: center;
}

#writer{
   display:flex;
   width:15%;
   justify-content: center;
}

#date{
   display:flex;
   width:20%;
   justify-content: center;
}

#content_idx{
   display:flex;
   width:10%;
   justify-content: center;
}

#content_title{
   display:flex;
   width:50%;
   justify-content: baseline;
   padding:10px;
}

#content_writer{
   display:flex;
   width:15%;
   justify-content: center;
}

#content_date{
   display:flex;
   width:20%;
   justify-content: center;
}

#write_btn{
   width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 20px;
    background-color: #61bfad;
    font-size: 12px;
}

/* pagenation */
#page{
   display:flex;
   width:100%;
   justify-content: center;
   
}

#page>ul>li{
	margin:10px;
	font-size:22px;
}

#keywordBox {
	width: 50%;
	border-top: none;
	border-left: none;
	border-right: none;
	//border-bottom-color: ;
	background-color: transparent;
}


#keywordBox::placeholder {
	text-align: center;
}

#keywordBox:focus {
		outline:none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom-color: #61bfad;
		}
		
#search {
	width: 60px;
	height: 30px;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61bfad;
    font-size: 12px;
}