@charset "UTF-8";

html, body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: unset;
}

.now{
	color:white;
}

.wrap_all{
	width:100%;
	height:100%;
	display:flex;
	justify-content: center;
}
.wrap_board {
	width:1130px;
	height:80%;
}


.mobile_nav{
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	height: 50px;
	background-color: rgb(97, 191, 173);
}

.mobile_nav>label:hover{
	color: white;
}

.board_title{
	display: flex;
	width:100%;
	align-items: center;
	height: 50px;
	background-color: rgb(249, 247, 232);
}


.back{
	width:10%;
	display:flex;
	justify-content: center;
	align-items: center;
	
}

.board_title>#board_test{
	width:80%;
	padding-left: 20px;
	font-weight: bold;
}

.board_list{
	height: 450px;
	padding-left: 5px;
}

.board_list>*{
	margin-top: 10px;
	width: 350px;
}

.content_info{
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.content_info>#writer{
	border: thin;
	border-style: solid;
	border-color: gray;
	border-radius: 5px;
	width: 80px;
}

.content_info>#title{
	border: thin;
	border-style: solid;
	border-color: gray;
	border-radius: 5px;
	width: 260px;
}

#content{
	resize: none;
	border: thin;
	border-style: solid;
	border-color: gray;
	border-radius: 5px;
	height: 400px;
	width:100%;
}

.is_private{
	padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#public, #private{
	font-size: 14px;
    margin-left: 10px;
}

.pw_setting{
	padding-left: 10px;
	margin-top: 20px;
}

.pw_setting>*{
	border: thin;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    font-size: 15px;
    width: 80px;
    height: 30px;
}

.pw_setting>label{
	background-color: #f9f7e8;
	margin-right: 1px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


#write_btn{
	width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 20px;
    background-color: #61bfad;
    font-size: 12px;
    border: none;
}

.valid-msg{
	color:red;	
	font-size:10px;
	border: none;
}