

html,body{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
}

.cal_wrap {

    width : 1000px;
    height: 500px;


}

caption{
    margin:30px;
    margin-top: 0;
    caption-side: top;
}

table{
    border:none;
}

.cal_wrap>table>caption>div {
	text-align: center;
}

tr{
    
}

th{
    border:none;
    background-color: #61bfad;
    padding:10px;
    border:solid 1px #eee;
    color:white;
    text-align: center;
    height: 50px;
}

td{
    text-align: start;
    vertical-align: top;
    height:60px; 
    border:solid 1px #eee;
    background: rgba(249, 247, 232, 0.8);
    padding:10px;
}

